<section class="nexmoe-posts" id="brand-waterfall">
    <% page.posts.each(function (page) { %>
    <div class="nexmoe-post">
        <a href="<%- url_for(page.path) %>">
            <div class="nexmoe-post-cover"> 
                <% if (page.cover){ %>
                <img src="<%- page.cover %>">
                <%}  else{ %>
                    <img src="<%= theme.background %>">
                <% } %>
                <h1><%= page.title %></h1>
            </div>
        </a>
        <div class="nexmoe-post-meta">
            <span><i class="nexmoefont icon-calendar-fill"></i> <%- date(page.date, "YYYY年MM月DD日") %></span>
            <span><i class="nexmoefont icon-areachart"></i> <%= wordcount(page.content) %> 字</span>
            <span><i class="nexmoefont icon-time-circle-fill"></i> 大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</span>
            <% if (page.categories && page.categories.length){ %>
                <span>
                    <i class="nexmoefont icon-tag-fill"></i>
                    <%- list_categories(page.categories, {
                    show_count: false,
                    class: 'article-category',
                    style: 'none',
                    separator: '►'
                    }) %>
                </span>
            <% } %>
        </div>
        <article>
            <% if(page.excerpt) {%>
            <%- page.excerpt %>
            <%}  else{ %>
            <%- page.content %>
            <% } %>
        </article>
    </div>
    <% }) %>
</section>
<%- partial('_partial/paginator') %>