<section class="nexmoe-posts">
    <% page.posts.each(function (page) { %>
    <div class="nexmoe-post">
        <a href="<%- url_for(page.path) %>">
            <% if (page.cover){ %>
                <div class="nexmoe-post-cover mdui-ripple" style="padding-bottom: <%- page.coverHeight/page.coverWidth*100 %>%;"> 
                    <img data-src="<%- page.cover %>" data-sizes="auto" alt="<%= page.title %>" class="lazyload">
                    <h1><%= page.title %></h1>
                </div>
            <%}  else{ %>
                <div class="nexmoe-post-cover mdui-ripple" style="padding-bottom: <%- theme.background.height/theme.background.width*100 %>%;"> 
                    <img data-src="<%- theme.background.path %>" data-sizes="auto" alt="<%= page.title %>" class="lazyload">
                    <h1><%= page.title %></h1>
                </div>
            <% } %>
        </a>

        <div class="nexmoe-post-meta nexmoe-rainbow">
            <a><i class="nexmoefont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日") %></a>
            <a><i class="nexmoefont icon-areachart"></i><%= wordcount(page.content) %> 字</a>
            <a><i class="nexmoefont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250, en: 160}) %> 分钟</a>
        </div>

        <article>
            <% if(page.excerpt) {%>
                <%- image_auto_lazyload(page.excerpt) %>
            <%}  else{ %>
                <%- image_auto_lazyload(page.content) %>
            <% } %>
        </article>
    </div>
    <% }) %>
</section>
<%- partial('_partial/paginator') %>