<!DOCTYPE html>
<html>

<head>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive');

    if (is_month()){
      title += '：' + page.year + '/' + page.month;
    } else if (is_year()){
      title += '：' + page.year;
    }
  } else if (is_category()){
    title = __('count.categories') + '：' + page.category;
  } else if (is_tag()){
    title = __('count.tags') + '：' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> - <% } %><%= config.title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- partial('_partial/_analytics/gtm-head', {}, {cache: true}) %>
  <%- partial('_partial/site-verification', {}, {cache: true}) %>
  <link rel="shortcut icon" href="<%= theme.favicon.href %>" type="<%= theme.favicon.type %>" />
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <link rel="stylesheet" href="<%- theme.cdn.mdui.css %>">
  <link rel="stylesheet" href="<%- theme.cdn.highlight.css %>">
  <% if(theme.function.fancybox == true) { %> 
    <link rel="stylesheet" href="<%- theme.cdn.fancybox.css %>" />
  <% } %>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1038733_0xvrvpg9c0r.css">
  <%- css_auto_version('css/style') %>
</head>

<body class="<% if (theme.menuopen !== false){ %><%- __('mdui-drawer-body-left') -%><% } %>">
  <%- partial('_partial/_analytics/gtm-body', {}, {cache: true}) %>
  <div class="nexmoe-bg" style="background-image: url(<%= theme.background %>)"></div>
  <div id="nexmoe-header">
      <%- partial('_partial/header', {}, {cache: true}) %>
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <div class="nexmoe-tab">
            <a mdui-drawer="{target: '#drawer', swipe: true}">
              <i class="mdui-icon material-icons">menu</i>
            </a>
          </div>
        <%- body %>
        <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://nexmoe.com/hexo-theme-nexmoe.html" target="_blank">Nexmoe</a>
        </div>
    </div>
  </div>
  <div id="nexmoe-footer">
      <%- partial('_partial/footer', {}, {cache: true}) %>
  </div>
  <%- partial('_partial/after-footer', {}, {cache: true}) %>
  <%- partial('_partial/analytics', {}, {cache: true}) %>
</body>

</html>