<!DOCTYPE html>

<html <% if (config.language) { %>lang="<%- config.language %>"<% } %>>

<%- partial('_partial/head') %>

<body class="mdui-drawer-body-left">
    <div id="nexmoe-background">
        <div class="nexmoe-bg" 
            <%- `style="background-image: url(${theme.background.path})"` %>
        ></div>
        <div class="mdui-appbar mdui-shadow-0">
            <div class="mdui-toolbar">
                <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
                <div class="mdui-toolbar-spacer"></div>
                <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
                <a href="<%- url_for() %>" title="<%= config.author || config.title %>" class="mdui-btn mdui-btn-icon"><img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>"></a>
            </div>
        </div>
    </div>
    <div id="nexmoe-header">
        <%- partial('_layout/single/header') %>
    </div>
    <div id="nexmoe-content">
        <%- partial('_layout/single/content') %>
        <div class="nexmoe-post-right">
              <div class="nexmoe-fixed">
                  <div class="nexmoe-tool"> 
                    
                      <% if (page.toc || theme.function.globalToc){ %>
                        
                          <% const toc_obj = toc(page.content, {list_number: true}); %>
                          <% if (toc_obj.length > 0) { %>
                              <button class="mdui-fab catalog" style="overflow:unset;">
                                  <i class="nexmoefont icon-i-catalog"></i>
                                  <div class="nexmoe-toc">
                                      <%- toc_obj %>
                                  </div>
                              </button>
                          <% } %>
                          
                      <%} %>
                    
                      <a href="#nexmoe-content" class="toc-link" aria-label="Back To Top" title="top"><button class="mdui-fab mdui-ripple"><i class="nexmoefont icon-caret-top"></i></button></a>
                  </div>
              </div>
            </div>
    </div>
    <%- partial('_partial/searchbox') %>
    
    <%- theme.slotFooter %>
</body>

</html>
