<div class="nexmoe-post">
  <% if (page.cover){ %>
      <div class="nexmoe-post-cover" style="padding-bottom: <%- page.coverHeight/page.coverWidth*100 %>%;"> 
          <img data-src="<%- page.cover %>" data-sizes="auto" alt="<%= page.title %>" class="lazyload">
          <h1><%= page.title %></h1>
      </div>
  <%}  else{ %>
      <div class="nexmoe-post-cover" style="padding-bottom: <%- theme.background.height/theme.background.width*100 %>%;"> 
          <img data-src="<%- theme.background.path %>" data-sizes="auto" alt="<%= page.title %>" class="lazyload">
          <h1><%= page.title %></h1>
      </div>
  <% } %>
  
  <%- partial('_partial/_post/meta') %>

  <div class="nexmoe-post-right">
    <% if (page.toc || theme.function.globalToc){ %>
      <div class="nexmoe-fixed">
        <div class="nexmoe-valign">
            <div class="nexmoe-toc">
                <%- toc(page.content, {list_number: true}) %>
            </div>
        </div>
      </div>
    <%} %>
  </div>

  <article>
    <%- image_auto_lazyload(page.content) %>
  </article>

  <%- partial('_partial/_post/tag') %>

  <div class="nexmoe-post-footer">
    <% if (!page.reprint){ %>
      <%- partial('_partial/copyright') %>
    <% } %>
    <%- partial('_partial/comment') %>
  </div>
</div>