<div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>">
            <img src="<%= theme.avatar %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <ul class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </ul>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
        & <a href="https://nexmoe.com/hexo-theme-nexmoe.html" target="_blank">Nexmoe</a>
    </div>
</div><!-- .nexmoe-drawer -->

<script>
    const getRealPath = (pathname, desc = false) => {
        if (!pathname) {
            pathname = window.location.pathname
        }
        let names = pathname.split("/")
        if (desc === false) {
            for (let i = names.length - 1; i >= 0; --i) {
                let name = names[i].trim()
                if (name.length > 0 && name !== "/" && name !== "index.html") {
                    return name
                }
            }
        } else {
            for (let i = 0; i < names.length; ++i) {
                let name = names[i].trim()
                if (name.length > 0 && name !== "/" && name !== "index.html") {
                    return name
                }
            }
        }
        return "/"
    }
    let links = document.querySelectorAll('.nexmoe-list-item');
    let rootRealPath = getRealPath(window.location.pathname, true);
    for (let link of links) {
        let linkPath = link.getAttribute("href");
        if (linkPath && getRealPath(linkPath, true) === rootRealPath) {
            link.className = "active nexmoe-list-item mdui-list-item mdui-ripple";
        }
    }
</script>