<!-- Unpkg -->
<link rel="stylesheet" href="<%- theme.cdn.disqusjs.css %>">
<script src="<%- theme.cdn.disqusjs.js %>"></script>
<div id="disqus_thread"></div>
<script>
var dsqjs = new DisqusJS({
    shortname: '<%= theme.disqusjs.shortname %>',
    siteName: '<%= theme.disqusjs.sitename %>',
    identifier: '<%= page.permalink %>',
    url: '<%= page.permalink %>',
    title: '<%= page.title %>',
    api: '<%= theme.disqusjs.api %>',
    apikey: '<%= theme.disqusjs.apikey %>',
    admin: '<%= theme.disqusjs.admin %>',
    adminLabel: '<%= theme.disqusjs.adminLabel %>'
});
</script>