<link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/gitalk/1.5.0/gitalk.min.css">
<div id="gitalk"></div>
<script src="https://cdnjs.loli.net/ajax/libs/gitalk/1.5.0/gitalk.min.js"></script>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '<%= theme.comment.gitalk.clientID %>',
        clientSecret: '<%= theme.comment.gitalk.clientSecret %>',
        id: window.location.pathname,
        repo: '<%= theme.comment.gitalk.repo %>',
        owner: '<%= theme.comment.gitalk.owner %>',
        admin: '<%= theme.comment.gitalk.admin %>'
    })
    gitalk.render('gitalk')
</script>